.articleList {
    padding: 12px 0;
}

.articleList .breakwords {
    white-space: normal;
    word-wrap: break-word;
}

.articleList .unread {
    font-weight: 600;
}

.articleList .starred {
    font-style: italic;
}