:host() {
    flex-direction: column;
    display: inline-flex; 
    flex-grow: 1;
}

mat-tree-node.mat-tree-node:hover {
    cursor: pointer;
}

#menu-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}
.list-indent {
    margin-top: 60px;
}
#sidenav {
    max-width: 400px;
}
#feedTree ul {
    padding-left: 0px;
    margin: 0;
}
#feedTree ul li>div,
#feedTree ul li>ul {
    padding-left: 20px;
}
#feedTree li {
    list-style: none;
}

#feedTree mat-tree-node li {
    width: 100%;
}

#feedTree mat-tree-node a,
#feedTree mat-tree-node span {
    font-size: 16px;
}

#feedTree .tree-category {
    padding-left: 8px;
}
#feedTree .tree-category:hover {
    cursor: pointer;
}
#feedTree .tree-category h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
}

.ttrss-toolbar h1 {
    margin-left: 12px;
    vertical-align: middle;
    line-height: 40px;
    white-space: normal;
    word-wrap: break-word;
    padding-right: 12px;
  }
  
  .ttrss-toolbar h1>* {
    vertical-align: middle;
  }
  
  .ttrss-toolbar h1.menu-indent {
    margin-left: 50px;  /* width of menu button + margin */
  }
  
  .ttrss-toolbar {
    height: auto;
    min-height: 60px; /* height of menu button + margin */
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    z-index: 2;
    /* width: 100%; */
  }
  
  .ttrss-toolbar>* {
    margin: auto 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  
  .ttrss-toolbar .tb-buttons {
    margin-left: auto;
  }
