<div fxFlex="1 1 auto" style="height: 100%;">
  <button id="menu-button" mat-icon-button (click)="snav.toggle()" aria-label="Menu" [style.display]="isMobile ? 'block' : 'none'">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-sidenav-container autosize class="ttrss-sidenav-container" style="height:100%;">
    <mat-sidenav #snav id="sidenav" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" role="navigation">
      <mat-nav-list [class.list-indent]="isMobile">
        <div *ngFor="let cat of categories">
          <div mat-subheader [class.feedSelected]="cat === selectedFeed">
            <h2 (click)="onSelect(cat);" fxFlex="1 1 auto">{{cat.title}}</h2>
            <span mat-list-item>{{counters | counterFilter:cat.id:true}}</span>
          </div>
          <mat-list-item *ngFor="let feed of feeds | feedFilter:cat.id" (click)="onSelect(feed);" [class.feedSelected]="feed === selectedFeed">
            <img mat-list-icon *ngIf="feed.id>0 && feed.has_icon; else matIcon" [src]="client.getFeedIconURL(feed.id)"
              width="auto" height="24px" />
            <ng-template #matIcon>
              <mat-icon mat-list-icon>{{ client.getFeedIconURL(feed.id, feed.id>0) }}</mat-icon>
            </ng-template>
            <a fxFlex="1 1 auto">{{feed.title}}</a>
            <span>{{counters | counterFilter:feed.id:false}}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content #feedView role="main" id="feedView" infiniteScroll (scrolled)="loadHeadlines()"
      [scrollWindow]="false" [infiniteScrollDistance]="1">
      <mat-toolbar #feedtoolbar id="feedtoolbar" class="ttrss-toolbar">
        <!-- <mat-toolbar-row> -->
        <h1 *ngIf="selectedFeed;else defaultHead" [class.menu-indent]="isMobile">
          <img *ngIf="selectedFeed.id>0 && !is_cat;else matFeedIcon" [src]="client.getFeedIconURL(selectedFeed.id)"
            width="auto" height="24px" />
          <ng-template #matFeedIcon>
            <mat-icon mat-list-icon>{{ client.getFeedIconURL(selectedFeed.id, is_cat) }}</mat-icon>
          </ng-template>
          <span>{{ selectedFeed.title }}</span>
        </h1>
        <ng-template #defaultHead>
          <h1 class="ttrss-app-name" [class.menu-indent]="isMobile">{{'title' | translate}}</h1>
        </ng-template>
        <div class="tb-buttons">
          <mat-button-toggle mat-icon-button [matTooltip]="'TB_Multiselect' | translate" matTooltipShowDelay="1000"
            style="vertical-align: middle;" *ngIf="selectedFeed" [checked]="multiSelectEnabled"
            (change)="multiselectChanged($event.source.checked)">
            <mat-icon>list</mat-icon>
          </mat-button-toggle>
          <button mat-raised-button [matTooltip]="'TB_ToggleStar' | translate" matTooltipShowDelay="1000"
            (click)="updateSelected(0, 2)" *ngIf="multiSelectEnabled">
            <mat-icon>star</mat-icon>
          </button>
          <button mat-raised-button [matTooltip]="'TB_ToggleRead' | translate" matTooltipShowDelay="1000"
            (click)="updateSelected(2, 2)" *ngIf="multiSelectEnabled">
            <mat-icon>mail</mat-icon>
          </button>
          <button mat-raised-button [matTooltip]="'TB_MarkRead' | translate" matTooltipShowDelay="1000"
            (click)="catchupFeed()" *ngIf="selectedFeed">
            <mat-icon>done_all</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="More">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #appMenu>
          <a mat-menu-item aria-label="Settings" routerLink="/settings">
            <mat-icon>settings</mat-icon>{{'Settings' | translate }}
          </a>
        </mat-menu>
      </mat-toolbar>
      <div #feedList class="clearFloat" *ngIf="selectedFeed;else noFeed">
        <mat-nav-list id="headlist" role="list" *ngIf="headlines && headlines.length>0;else emtpyList">
          <div role="listitem" *ngFor="let head of headlines" fxLayout="row">
            <mat-checkbox *ngIf="multiSelectEnabled" fxFlexAlign="center" [checked]="multiSelectedHeadlines.includes(head)"
              (change)="onArticleSelect(head)"></mat-checkbox>
            <div fxLayout="column" fxFlex="1 1 auto" in-view (inview)="inview($event)" [scrollELement]="scrollContainer"
              [data]="head" [id]="'article' + head.id" [throttle]="500">
              <ttrss-article [multiSelectEnabled]="multiSelectEnabled" [feed]="selectedFeed" [article]="head"
                (click)="onArticleSelect(head);" [selected]="selectedHeadline && head===selectedHeadline"
                fxFlex="1 1 auto" [class.headSelected]="selectedHeadline && head===selectedHeadline"></ttrss-article>
              <ttrss-article-content [article]="head" *ngIf="selectedHeadline && head===selectedHeadline">
              </ttrss-article-content>
              <mat-toolbar #articletoolbar class="article-toolbar" *ngIf="selectedHeadline && head===selectedHeadline">
                <mat-button-toggle mat-icon-button [matTooltip]="'TB_ToggleStar' | translate" matTooltipShowDelay="1000"
                  (click)="updateSelected(0, 2)" [checked]="selectedHeadline.marked">
                  <mat-icon>star</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-icon-button [matTooltip]="'TB_ToggleRead' | translate" matTooltipShowDelay="1000"
                  (click)="updateSelected(2, 2)" [checked]="selectedHeadline.unread">
                  <mat-icon>email</mat-icon>
                </mat-button-toggle>
              </mat-toolbar>
              <mat-divider></mat-divider>
            </div>
          </div>
        </mat-nav-list>
        <ng-template #emtpyList>
          <p style="text-align: center;">{{'NoHeadlines' | translate}}</p>
        </ng-template>
      </div>
      <ng-template #noFeed>
        <p class="clearFloat" style="text-align: center;">{{'NoFeed' | translate}}</p>
      </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>