@import '~@angular/material/theming';

@mixin global-mixin($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    .tree-item:hover {
        background-color: mat-color($background, hover);
    }
    .feedSelected {
        background-color: mat-color($background, selected-button);
    }
    .multiselect {        
        background-color: mat-color($primary, darker);
    }

    // .ttrss-dark-theme {        
    //     mat-toolbar.mat-primary .mat-button-toggle-button, mat-toolbar.mat-primary .mat-raised-button {
    //         color: mat-color($foreground, text);
    //     }
    // }

    // mat-toolbar.mat-primary .mat-button-toggle-checked {
    //     background-color: mat-color($primary, darker);
    // }
    mat-toolbar .mat-button-toggle-checked {
        background-color: mat-color($background, disabled-button);
    }
    // mat-toolbar .mat-raised-button {
    //     background-color: mat-color($primary);
    // }
    
    ttrss-settings {
        background-color: mat-color($background, background);
    }

}