@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin dark-mixin($theme) {
    $background: map-get($theme, background);
    // $foreground: map-get($theme, foreground);
    // $primary: map-get($theme, primary);
    .article-toolbar .mat-button-toggle-appearance-standard {
        background-color:  mat.get-color-from-palette($background, selected-button);
    }
    .article-toolbar .mat-button-toggle-checked {
        background-color:  mat.get-color-from-palette($background, card);
    }
    .article-toolbar .mat-raised-button {
        background-color:  mat.get-color-from-palette($background, selected-button);
        border: solid 1px rgba(255, 255, 255, 0.12);
    }
}