@import '~@angular/material/theming';

@mixin global-mixin($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    .tree-item:hover {
        background-color: mat-color($background, hover);
    }
    .feedSelected {
        background-color: mat-color($background, selected-button);
    }
    .multiselect {        
        background-color: mat-color($primary, darker);
    }
    .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
        background-color: mat-color($background, card);
    }
    
    
    ttrss-settings {
        background-color: mat-color($background, background);
    }

}