@use '@angular/material' as mat;
@import '@angular/material/theming';
// always include only once per project
@include mat.core();

$ttrss-theme-primary: mat.define-palette(mat.$orange-palette, 700, 300, 900);
$ttrss-theme-accent: mat.define-palette(mat.$indigo-palette);
$ttrss-theme-warn: mat.define-palette(mat.$red-palette, A200);

$ttrss-light-theme: mat.define-light-theme(
    $ttrss-theme-primary,
    $ttrss-theme-accent,
    $ttrss-theme-warn
);

$ttrss-dark-theme: mat.define-dark-theme(
    $ttrss-theme-primary,
    $ttrss-theme-accent,
    $ttrss-theme-warn
);

@import 'mixin_global';
@import 'mixin_dark';

@include mat.all-component-themes($ttrss-light-theme);
@include global-mixin($ttrss-light-theme);

.ttrss-dark-theme {
  @include mat.all-component-themes($ttrss-dark-theme);
  @include global-mixin($ttrss-dark-theme);
  @include dark-mixin($ttrss-dark-theme);
}

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.feedContent *, .feedContent {
    max-width: 100% !important;
    white-space: normal !important;
    word-wrap: break-word !important;
}

#headlist.mat-nav-list .mat-list-item .mat-list-item-content {
    padding: 0 0;
}