/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.feedContent *, .feedContent {
    max-width: 100% !important;
    white-space: normal !important;
    word-wrap: break-word !important;
} 