<div class="mat-drawer-container" fxLayout="column" style="height: 100%">
  <a mat-icon-button aria-label="Overview" routerLink="/overiew" id="feedLink">
    <mat-icon>arrow_back</mat-icon>{{'Settings_Leave' | translate }}
  </a>
  <mat-tab-group id="settings-card" [dynamicHeight]="true" fxFlex="1 1 auto">
    <mat-tab [label]="'Settings_Connection' | translate">
      <p style="padding: 0 12px;">
        <mat-form-field class="settings-form-field">
          <input id="apiurl" matInput [placeholder]="'Settings_Server_URL' | translate" [(ngModel)]="settings.url" type="url">
        </mat-form-field>
        <mat-form-field class="settings-form-field">
          <input id="username" matInput [placeholder]="'Settings_Username' | translate" [(ngModel)]="settings.username"
            type="text">
        </mat-form-field>
        <mat-form-field class="settings-form-field">
          <input id="password" matInput [placeholder]="'Settings_Password' | translate" [(ngModel)]="settings.password"
            type="password">
        </mat-form-field>
        <button id="testButton" mat-raised-button (click)="testConnection()" type="submit">{{'Settings_Verify' |
          translate }}</button>
      </p>
    </mat-tab>
    <mat-tab [label]="'Settings' | translate">
      <p style="padding: 0 12px;">        
        <mat-form-field>
          <mat-select [placeholder]="'Settings_Language' | translate" [(value)]="settings.locale" (selectionChange)="onLocaleChange($event)">
            <mat-option *ngFor="let lang of settings.locales" [value]="lang.key">
              {{ lang.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-select [placeholder]="'Settings_Counter_Update' | translate" [(value)]="settings.counterUpdate">
            <mat-option *ngFor="let counter of settings.counterOptions" [value]="counter.key">
              {{'Settings_Counter_' + counter.key | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-slide-toggle color='primary' [(ngModel)]="settings.markReadOnScroll">{{'Settings_MarkRead_OnScroll' |
          translate }}</mat-slide-toggle>
        <br />
        <mat-slide-toggle color='primary' [(ngModel)]="settings.darkDesign">{{'Settings_Use_DarkDesign' | translate }}</mat-slide-toggle>
      </p>
    </mat-tab>
  </mat-tab-group>
  <mat-chip-list>
    <mat-chip>{{'Settings_Version' | translate }} {{version}}</mat-chip>
  </mat-chip-list>
</div>